<div class="app-container">
  <mat-toolbar class="app-toolbar" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title">Salary Management</span>
    <span class="spacer"></span>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [opened]="sidenavOpened" class="app-sidenav">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
