<div class="sidebar">
  <div class="sidebar-header">
    <mat-icon class="logo-icon">account_balance</mat-icon>
    <span class="logo-text">SalaryMS</span>
  </div>
  
  <mat-nav-list>
    <a mat-list-item routerLink="/employees" routerLinkActive="active-link" class="nav-item">
      <mat-icon matListItemIcon>people</mat-icon>
      <span matListItemTitle>Employees</span>
    </a>
    <a mat-list-item routerLink="/analytics" routerLinkActive="active-link" class="nav-item">
      <mat-icon matListItemIcon>analytics</mat-icon>
      <span matListItemTitle>Analytics</span>
    </a>
    <a mat-list-item routerLink="/payroll" routerLinkActive="active-link" class="nav-item">
      <mat-icon matListItemIcon>payments</mat-icon>
      <span matListItemTitle>Payroll</span>
    </a>
  </mat-nav-list>
</div>
